<section class="update-password container">
  <h1 class="text-center mb-3">Modification du mot de passe</h1>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <input formControlName="previousPassword" type="password" class="form-control"
        [class.is-invalid]="getErrorForControl('previousPassword')" placeholder="Mot de passe actuel" />
      <p class="invalid-feedback" *ngIf="getErrorForControl('previousPassword')">
        {{ getErrorForControl('previousPassword') }}
      </p>
    </div>
    <div class="form-group">
      <input formControlName="newPassword" type="password" class="form-control"
        [class.is-invalid]="getErrorForControl('newPassword')" placeholder="Nouveau mot de passe" />
      <p class="invalid-feedback" *ngIf="getErrorForControl('newPassword')">
        {{ getErrorForControl('newPassword') }}
      </p>
    </div>
    <div class="form-group">
      <input formControlName="confirmation" type="password" class="form-control"
        [class.is-invalid]="getErrorForControl('confirmation')" placeholder="Confirmation" />
      <p class="invalid-feedback" *ngIf="getErrorForControl('confirmation')">
        {{ getErrorForControl('confirmation') }}
      </p>
    </div>
    <button class="btn form-control mt-3">modifier</button>
  </form>
</section>
