.jumbotron {
  background-image: url("/assets/images/route_homme_guitare_rouge.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
  height: 500px;
  display: flex;
  align-items: center;
}

.lead {
  font-weight: bold;
  font-size: 3em;
  color: rgb(255, 255, 255);
  padding: 0 2.5em 0 1.5em;
}

#event-list {
  margin: auto;
}

.row {
  justify-content: center;
  width: 90%;
  margin: auto;
}

.card-box {
  width: 15em;
  margin: 2em;
  padding: 0;
  outline: transparent;
}

.card {
  width: 18em;
  height: 330px;
  border: none;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 9px 9px 12px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
}


.card img {
  width: 100%;
  height: 150px;
}
