<main class="m-auto">
  <section class=" payment-box container" *ngIf="!buyOn">
    <h1>{{event?.title}}</h1>
    <img src="http://localhost:3000/images/{{event?.image}} " alt="{{event?.title}} ">
    <p><strong>du {{event?.startDate| date: 'dd-MM-yyyy'}} au {{event?.endDate| date: 'dd-MM-yyyy'}}</strong></p>
    <h4><span>Prix du billet: </span>{{event?.price| number }} €</h4>

    <form>
      <input type="number" name="number" value="{{quantity}}" min="1" (change)="change($event)">
    </form>

    <div #paypalRef style="width: 250px;" class="m-auto p-3"></div>
  </section>
  <section class=" payment-box container" *ngIf="buyOn">
    <h1>{{event?.title}}</h1>
    <img src="http://localhost:3000/images/{{event?.image}} " alt="{{event?.title}} ">
    <p><strong>du {{event?.startDate| date: 'dd-MM-yyyy'}} au {{event?.endDate| date: 'dd-MM-yyyy'}}</strong></p>
    <h4><span>Votre achat a bien été pris en compte</span></h4>

    <div class="text-center">
      <a routerLink="/">Revenir à l'accueil</a>
    </div>

  </section>
</main>
